/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-skin-circular > span {
	font: normal normal normal 19px/1 FontAwesome;
	color: #ee595d;
}
.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

div.cs-skin-circular {
	position: absolute;
	background: transparent;
	font-size: 2em;
	width: auto;
	right: 60px;
	top: 80px;
}

.cs-skin-circular > span {
	background: transparent;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: 700;
	padding: 0;
	/*text-indent: 100%;*/
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

.cs-skin-circular > span::after {
	right: 0;
	width: 100%;
	text-indent: 0;
	color: #ee595d;
	font-size: 25px;
}

.cs-skin-circular.cs-active > span::after {
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.cs-skin-circular > span[style]::after {
	content:'';
}

.cs-skin-circular .cs-selected span::after {
	content: '';
}

.cs-skin-circular.cs-active > span {
	-webkit-transform: scale3d(0.75,0.75,1);
	transform: scale3d(0.75,0.75,1);
}

.cs-skin-circular .cs-options {
	width: 100%;
	height: 100%;
	top: 0;
	color: #415c71;
	background: transparent;
	overflow: visible;
	font-size: 50%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-circular.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-circular .cs-options ul,
.cs-skin-circular .cs-options li  {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cs-skin-circular .cs-options li {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	border-radius: 50%;
	opacity: 0;
	cursor: pointer;
	pointer-events: auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.1s;
	transition: transform 0.3s, opacity 0.1s;
}

.cs-skin-circular.cs-active .cs-options li {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cs-skin-circular.cs-active .cs-options li:hover {
	opacity: 0.7;
}
.cs-skin-circular.cs-active .cs-options li a{
	display: block;
	width: 100%;
	height: 100%;
}

.cs-skin-circular .cs-options li:first-child { background-image: url(../img/1.png); background-size: 100% auto;}
.cs-skin-circular .cs-options li:nth-child(2) { background-image: url(../img/2.png); background-size: 100% auto;}
.cs-skin-circular .cs-options li:nth-child(3) { background-image: url(../img/3.png); background-size: 100% auto;}
.cs-skin-circular .cs-options li:nth-child(4) { background-image: url(../img/4.png); background-size: 100% auto;}
.cs-skin-circular .cs-options li:nth-child(5) { background-image: url(../img/5.png); background-size: 100% auto;}


.cs-skin-circular.cs-active .cs-options li:first-child  {
	-webkit-transform: translate3d(53.33px, 0, 0);
	transform: translate3d(53.33px, 0, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(2){
	-webkit-transform: translate3d(37.71px, 37.71px, 0);
	transform: translate3d(37.71px, 37.71px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(3) {
	-webkit-transform: translate3d(0, 53.33px, 0);
	transform: translate3d(0, 53.33px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(4) {
	-webkit-transform: translate3d(-37.71px, 37.71px, 0);
	transform: translate3d(-37.71px, 37.71px, 0);
}

.cs-skin-circular.cs-active .cs-options li:nth-child(5) {
	-webkit-transform: translate3d(-53.33px, 0, 0);
	transform: translate3d(-53.33px, 0, 0);
}


.cs-skin-circular .cs-options li span {
	display: none;
}

.cs-skin-circular .cs-options li.cs-focus {
	background-color: transparent;
	opacity: 0.7;
}


@media only screen and (max-width: 800px){
	.cs-skin-circular.cs-active .cs-options li:first-child {
	-webkit-transform: translate3d(53.33px, 0, 0);
	transform: translate3d(0, -53.33px, 0);
	}
	.cs-skin-circular.cs-active .cs-options li:nth-child(2) {
	-webkit-transform: translate3d(37.71px, 37.71px, 0);
	transform: translate3d(-37.71px, -37.71px, 0);
	}
	div.cs-skin-circular {
		position: absolute;
		background: transparent;
		font-size: 2em;
		width: auto;
		right: 30px;
		top: 80px;
	}
}